.chart1{
  list-style: none;
  background-color: black;
  height: 60px;
  width: 500px;
  text-align: center;
  display: inline-block;
  padding: 0;
  margin: 0;
  position: relative;
}

.chart1 li{
  display: inline-block;
  color: white;
  width: 25%;
  float: left;
  height: inherit;
  cursor: pointer;
}

.chart1 li a{
  position: relative;
  top: 30%;
  /* 나중에 inline-block 안에서 글자중앙 정렬하는거 찾자 */
}

.chart1 li:hover {
  color: red;
  display: block;
  visibility: visible;
}
.chart1-1 {
  display: none;
}

.chart2{
  list-style: none;
  text-align: center;
  padding: 0;
  width: 150px;
  float: right;
  margin: 0;
}

.chart2 li{
  background-color: black;
  display: inline-block;
  color: white;
  margin-right: 15%;
  padding: 1%;
  cursor: pointer;
}
